{% extends "base.html" %}
{% block body_block %}
<div class="jumbotron">
  <h3>Dog Details:</h3>
  <p>Owner: {{dog.owner}}</p>
  <p>Name: {{dog.name}}</p>
  <p>Rabies Expiration Date: {{dog.rabies_date}}</p>
  <p>Parvo/Distemper Expiration Date: {{dog.parvo_date}}</p>
  <p>Bordetella Expiration Date: {{dog.bordetella}}</p>
  <p><strong>Vaccinations: {{dog.check_date}}</strong></p>
  <p>Notes: {{dog.notes}}</p>
{% if user.is_staff %}
<a class= 'btn btn-warning' href='{%  url "dog-update" pk=dog.id %}'>Update Dog</a>
{% else %}
<a class= 'btn btn-success' href='{%  url "dog-update-nonstaff" pk=dog.id %}'>Update Dog</a>
{% endif %}
</div>

{% endblock %}
