{% extends "base.html" %}
{% block body_block %}
<div class="jumbotron">
  <table class = "table-striped" width=100%>
    <thead>
      <tr>
        <td><strong>Class Title</strong></td>
        <td><strong>Start Date</strong></td>
        <td><strong>End Date</strong></td>
        {% if user.is_staff %}
        <td><strong>Private?</strong></td>
        {% endif %}
      </tr>
    </thead>
    <h3>Available Classes </h3>
  {% for dogClass in object_list %}

      {% if dogClass.endDate > dogClass.today %}

      <tr>
        <td>{% if dogClass.privateClass and user.is_staff %}
          <a href="{{dogClass.id}}">{{dogClass.name}} </td>
          <td> {{dogClass.startDate}}</td> <td>{{dogClass.endDate}}</td> <td></td>Private Class  </a>
          {% elif  not dogClass.privateClass %}
      <a href="{{dogClass.id}}">{{dogClass.name}} </td>
        <td> {{dogClass.startDate}}</a></td>
        <td>{{dogClass.endDate}}</td>
      {% endif %}{% endif %}

  </tr>

    {% endfor %}
    </table>


    {% if user.is_staff %}
    <a class = 'btn btn-warning' href="{% url 'dog-class-add' %}">Add class</a></p>
    {% endif %}
</div>
{% endblock %}
