{% extends "base.html" %}
{% block body_block %}
<div class="jumbotron">
  <p>Class Details</p>
  <p>{{dogclass.name}}</p>
  <p>First Day of Class: {{dogclass.startDate}}</p>
  <p>Last Day of Class: {{dogclass.endDate}}</p>
  <p>Class Size: {{dogclass.classSize}}</p>
  <p>Enrolled: {{dogclass.enrolled}}</p>
  <p>Enrolled Students: </p>
  <table>
    {% for dogstudent in dogclass.dogstudent.all %}
    <tr>
      <td>  <a href= '{% url 'dogstudent-detail' pk=dogstudent.id %}'><h3>{{dogstudent.dogId}}  Owner: {{dogstudent.clientId}}</h3></a></td>
    </tr>


    {% endfor %}
  </table>

{% if dogclass.enrolled >= dogclass.classSize %}
    <a class= 'btn btn-danger disabled' href="/student/add/">Class Full</a>
{% else %}
<a class= 'btn btn-success active' href="/student/add/">Enroll a Dog</a>
{% endif %}

</div>

{% endblock %}
