{% extends "base.html" %}
{% block body_block %}
<div class="jumbotron">
<h2>Reservations in next 30 days from:</h2>

   {% for  Reservation in object_list %}
  {% if  Reservation.thirtyDays %}<a href="{{Reservation.id}}"><p> Client: {{Reservation.owner}} Dog: {{Reservation.dog}}
      Check in: {{Reservation.check_in}} Check out: {{Reservation.check_out}}</p></a> {% endif %}




    {% endfor %}


<a class = "btn btn-success" href="/reservation/add/">Create a Reservation</a>

</div>


{% endblock %}
